{% extends 'base.html.twig' %}

{% block title %}Applications{% endblock %}


{% block main %}

    <main class="container d-flex flex-column justify-content-evenly">
        {% for application in applications %}
            <div class="card w3-theme-l5 " >
                <div class="card-body d-flex flex-column">
                    <div class="card-title">{{ application.jobSeeker.name }} {{ application.jobSeeker.lastName }}</div>
                    <span class="text-muted font-italic">{{ application.jobSeeker.email }} </span>
                    <p class="card-text">Motivation: {{ application.motivation }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item w3-theme-l5">Download CV</li>
                        <li class="list-group-item w3-theme-l5">See Profile</li>
                    </ul>
                    {# <a href="{{ path('job_details', { 'id': job.id }) }}" class="btn btn-primary w3-theme-d4 align-self-end mt-auto">See More</a>  #}
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
