{% extends 'base.html.twig' %}

{% block title %}My Job Offers{% endblock %}


{% block main %}

    <main class="container d-flex flex-column justify-content-evenly">
        {% for job in jobs %}
            <div class="card w3-theme-l5 " >
                <div class="card-body d-flex flex-column">
                    <div class="card-title">{{ "🚀" ~ job.position }}</div>
                    {#  <span class="text-muted font-italic">{{ jobTimes[job.id] }}</span> #}
                    <div class="tags mb-2 mt-1">
                        <span class="badge bg-secondary">{{ job.employmentType }}</span>
                        {#  <span class="badge bg-primary">{{ job.category }}</span> #}
                    </div>
                    <p class="card-text">{{ job.description | slice(0, 284) ~ '...' }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item w3-theme-l5">{{ "🧱" ~ job.entreprise }}</li>
                        <li class="list-group-item w3-theme-l5">{{ "📍" ~ job.location }}</li>
                    </ul>
                    <a href="" class="btn btn-primary w3-theme-d4 align-self-end mt-auto">See Applications</a>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
