{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formStyles.css') }}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="formulaire">
            <h1>Login</h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('app_login') }}" method="post" >

                <div class="parent_div">
                    <label for="email">Email :</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}">
                </div>

                <div class="parent_div">
                    <label for="password">Password :</label>
                    <input type="password" id="password" name="_password" required>
                </div>
                <input type="hidden" name="_target_path" value="/home">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" name="logIn" id="logIn">Log in</button>
            </form>
            <p>Don't have an account? <a href="{{ path("app_register") }}">Sign up</a></p>

        </div>
        <img src="{{ asset('images/login.png') }}" alt="Registration Image" class="registration-image">
    </div>
   {% endblock %}
{% block footer %}

{% endblock %}
