{% extends 'base.html.twig' %}

{% block title %}Apply{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/formStyles.css") }}"
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}

    <div class="container">

        <div class="formulaire">

            <h1>Apply For This Job</h1>

            {{ form_errors(form) }}

            {{ form_start(form) }}

            {{ form_row(form.motivation) }}
            {{ form_row(form.cv) }}

            <button type="submit" >Save</button>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
